# Zyntra Server Environment
PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/zyntra?retryWrites=true&w=majority
JWT_SECRET=zyntra_super_secret_key_change_me_in_production_2026
